html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.abs-pos, #wrapper, #click_through {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  overflow: hidden; }

#wrapper {
  position: relative;
  visibility: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
  #wrapper.show {
    visibility: visible; }

#click_through {
  z-index: 999;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000; }

#bg {
  width:300px;
  height:250px;
}

#headerCopy {
  color:#2a99e1;
  font-size:27px;
  line-height:29px;

}

#copy1, #copy2 {
  font-size:17px;
  line-height:17px;
  letter-spacing:.5px;
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 1px #49979d;
  -webkit-box-shadow: 1px 1px 1px 1px #49979d;
  box-shadow:         1px 1px 1px 1px #49979d;
}

#cta {
  position:relative;
}

#ctaCopy {
    display: block;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 85px;
    height: 22px;
    padding-top: 4px;
    color: #ffffff;
    font-size: 12px;
    line-height: 140%;
    text-align: center; 
    background-color:#2a99e1;
    border-radius: 3px;
}


/* HB_FMT */

#water, #waterSplash, #swipe, #splashy {
  width:300px;
  height:250px;
}

#water_front {
  background-image:url('water_front.png');
  background-repeat:no-repeat;
  width:300px;
  height:250px;
}


/* Copy Fade In */
#copy_fade_in {
  opacity: 0;
}